* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

body {
  transition: all 500ms ease-in-out;
  overflow-x: hidden;
}

p {
  margin-bottom: 0 !important;
}

:root {
  --blue-1: #4e536d;
  --blue-2: #7981ab;
  --white: #ffffff;
  --text-bg: #f9df00;
  --text-normal: #3e435d;
  --text-grey: #bdbdbd;
  --big-title-size: 70px;
  --normal-title-size: 45px;
}

ol,
ul {
  padding-left: 0 !important;
}



.login-area {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.title-top {
  font-size: 22px;
  color: var(--text-grey);
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.left-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.degrade {
  font-size: var(--big-title-size);
  font-weight: 800;
  background: -webkit-linear-gradient(90deg, rgba(52,56,78,1) 0%, rgba(157,166,208,0.9108018207282913) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: start;
  margin-bottom: 2rem;

}

.degrade-1 {
  font-size: var(--big-title-size);
  font-weight: 800;
  background: -webkit-linear-gradient(120deg, rgb(81, 85, 102) 0%, rgb(139, 146, 180) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-yellow-title {
  background: var(--text-bg);
  font-size: var(--normal-title-size);
  font-weight: 600;
  text-align: center;
  line-height: 4rem;
}

.features h1 {
  font-size: var(--normal-title-size);
  font-weight: 600;
  text-align: center;
  color: var(--text-normal);
}

.features-list {
  margin-top: 4%;
  display: flex;
  justify-content: center;
}

.features-first,
.features-second {
  display: flex;
  justify-content: space-evenly;
}

.features-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin: 2rem;
}

.features-list li img {
  transform: scale(1);
  transition: transform 400ms ease-in-out;
}

.features-list li img:hover {
  transform: scale(1.1);
  transition: transform 400ms ease-in-out;
}

.title-right h3 {
  font-size: var(--normal-title-size);
  font-weight: 500;
  text-align: center;
  color: var(--text-normal);
}

.vote-item {
  display: flex;
}

.vote-area {
  margin: 9% auto;
}

.vote-controls {
  position: absolute;
  width: 50%;
  bottom: 5px;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.vote-2 {
  left: 0 !important;
  bottom: 15px;
}

.vote-arrows {
  width: 100px;
  position: absolute;
  right: 0;
}

.vote-arrows .swiper-button-prev {
  transform: rotate(180deg);
}

.swiper-horizontal>.swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  width: 80% !important;
  top: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-scrollbar-drag {
  background: var(--blue-1) !important;
}

.img-left img {
  width: 90% !important;
}

.social-big-icons {
  margin-top: 15%;
}

.info-direct,
.rival-area {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;
}

.left-info {
  margin-left: 10%;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.right-info {
  width: 65%;
  display: flex;
  justify-content: flex-end;
}

.done-area {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 10%;
  align-items: center;
}

.left-done {
  width: 50%;
  background-image: url(../images/done-bg.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.right-done {
  width: 30%;
  margin-left: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.right-done h1 {
  list-style: 50px;
}

.done-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.done-item img {
  height: 700px;
}

.done-arrows {
  position: absolute;
  width: 100px;
  display: flex;
  justify-content: space-between;
  height: 40px;
  flex-direction: row-reverse;
  bottom: -70px;
  align-items: flex-end;
}

.done-arrows .swiper-button-next,
.swiper-button-prev {
  position: relative !important;
}

.done-arrows .swiper-button-prev img {
  transform: rotate(180deg);
}

.done-arrows .swiper-button-next::before {
  width: 70px;
  border-radius: 20px;
  background: #fff;
  height: 3px;
  position: relative;
  content: '';
  right: 17px;
}

.flex-accordion {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.accordion-button:not(.collapsed) {
  background: transparent !important;
}

.accordion {
  width: 50%;
  gap: 10px !important;
}

.accordion-header {
  border: 1px solid #ddd;
}

.accordion-flush .accordion-item {
  margin-top: 10px;
  background: transparent !important;
}

.swiper-button-next,
.swiper-button-prev {
  top: 0 !important;
}

.accordion-area h1,
.accordion-area p {
  text-align: center;
}

.accordion-flush .accordion-item .accordion-button {
  background: transparent !important;
  color: white;
}

.accordion-area {
  margin-top: 10%;
  margin-bottom: 10%;
}

.accordion-logos {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  width: 100% !important;
}

.accordion-logos img {
  width: 100%;
}

.accordion-body {
  color: white !important;
}

.changed-body p {
  color: white;
}

.changed-body h1 {
  color: white;
}

.changed-body ul li {
  color: white;
}

.changed-body h1 {
  color: white;
}

.bg-yellow-title {
  color: var(--blue-1);
}

.changed-body {
  background: #373737;
}

section.contact-form input {
  border: 0;
  border-bottom: 2px solid #0e181e;
  border-radius: 0;
  padding: 20px 0;
  outline: none;
  background: transparent;
}

section.contact-form input:focus {
  box-shadow: none !important;
}

section.contact-form .btnContacts {
  margin: 20px 0;
}

.contact-form {
  border-bottom: 1px solid rgba(0, 0, 0, 0.253);
  margin-top: 5%;
}

.animoTextLeft {
  height: 50px;
  width: 200px;
  text-align: center;
  overflow: hidden;
  background: var(--text-bg) !important;
  font-size: 13px;
  font-weight: 600 !important;
  position: relative;
  line-height: 35px !important;
  color: black !important;
  text-transform: uppercase;
  border-radius: 99px !important;
  cursor: pointer;
}

.animoTextLeft::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: #4c4e51;
  transition: transform 0.25s ease-in;
}

.animoTextLeft:hover {
  color: #fff;
}

.animoTextLeft:hover::before {
  transform: translateX(0);
}

.animoTextLeft:hover span {
  animation: animButtonSpan 0.4s;
}

.animoTextLeft span {
  position: relative;
  z-index: 1;
  display: block;
}

@keyframes animButtonSpan {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  35% {
    transform: translateX(20px);
    opacity: 0;
  }

  50.001% {
    transform: translateX(-20px);
  }

  60% {
    transform: translateX(0);
  }
}

.title-last {
  margin-bottom: 5%;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}

.footer-flex {
  margin-top: 5%;
  margin-bottom: 3%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.get-touch {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.get-touch .modal-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 600;
  align-items: flex-start;
}

.get-touch .modal-links li {
  padding: 6px;
  transition: all 400ms ease-in-out;
}

.get-touch .modal-links li:hover {
  color: var(--text-bg);
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.get-touch .modal-links .active {
  color: var(--text-bg);
}

.get-touch h1 {
  font-size: 70px;
  font-weight: 800;
  color: var(--text-normal);
  border-bottom: 1px solid var(--text-bg);
  padding-bottom: 1rem;

}

.main-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.main-links li a {
  font-size: 50px;
  color: var(--text-normal);
  font-weight: 700;
  text-decoration: none;
  transition: all 400ms ease-in-out;
}

.main-links li a:hover {
  color: var(--text-bg);
  transition: all 400ms ease-in-out;
}

.adress-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%;
}

.adress-links li {
  margin-top: 0.7rem;
}

.adress-links li span {
  font-size: 17px;
  font-weight: 700;
  color: var(--text-normal);
}

.adress-links .socials {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
  align-items: center;
}

.adress-links .socials li a {
  font-size: 20px;
  font-weight: bold;
  padding: 4px 8px;
  margin: 3px;
  background: var(--text-bg);
  border-radius: 50%;
  color: #fff;
  transition: all 400ms ease-in-out;
}

.adress-links .socials li a:hover {
  background: var(--text-normal);
  color: var(--text-bg);
  transition: all 400ms ease-in-out;
}

.mobil-flex {
  justify-content: space-evenly;
  width: 60%;
  display: flex;
  align-items: center;
}

.up-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  background: var(--text-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1rem;
  right: 3rem;
  border-radius: 50%;
  cursor: pointer;
}

@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }

  15% {
    opacity: 1;
    top: 50%;
  }

  50% {
    opacity: 0;
    top: 50%;
  }

  100% {
    opacity: 0;
    top: 29%;
  }
}

@-moz-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }

  15% {
    opacity: 1;
    top: 50%;
  }

  50% {
    opacity: 0;
    top: 50%;
  }

  100% {
    opacity: 0;
    top: 29%;
  }
}

@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }

  15% {
    opacity: 1;
    top: 50%;
  }

  50% {
    opacity: 0;
    top: 50%;
  }

  100% {
    opacity: 0;
    top: 29%;
  }
}

.scroll-btn {
  position: absolute;
  bottom: 1rem;
  display: block;
  text-align: center;
}

.scroll-btn>* {
  display: block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: var(--text-normal);
  color: var(--text-normal);
  letter-spacing: 2px;
  font-weight: 600;
}

.scroll-btn>*:hover,
.scroll-btn>*:focus,
.scroll-btn>*.active {
  color: #ffffff;
}

.scroll-btn>*:hover,
.scroll-btn>*:focus,
.scroll-btn>*:active,
.scroll-btn>*.active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 35px;
  height: 55px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid var(--blue-1);
  border-radius: 23px;
}

.scroll-btn .mouse>* {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: var(--text-normal);
  border-radius: 50%;
  -webkit-animation: ani-mouse 2.5s linear infinite;
  -moz-animation: ani-mouse 2.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite;
}

section.career {
  width: 100%;
}

.fixed-area {
  position: fixed;
  left: 0;
  top: 0;
  width: 45%;
  height: 100vh;
  padding: 3em 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 5rem;
  margin-top: 5rem;
}
.career-box{
  width: 84% !important;
}
.image-box {
  width: 42%;
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.about-box {
  width: 48%;
}

.box {
  width: 100%;
  display: flex;
}

.scroll-img-area {
  width: 51%;
  position: absolute;
  top: 0;
  right: 0;
}

.title-top {
  font-size: 16px;
  font-weight: 600;
  color: #bdbdbd;
  padding-bottom: 10px;
}

.fixed-area h3,
.fixed-area h3 span {
  font-size: 55px;
  font-weight: 500;
}

.fixed-area h3 {
  margin-bottom: 2rem;
}

.fixed-area p {
  margin-bottom: 1rem !important;
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 600;
  line-height: 2rem;
}

.scroll-down2 {
  width: 30px;
  height: 50px;
  border: 2px solid var(--blue-2);
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.scroll-down2:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 20px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  transform: translateX(-50%);
  background: var(--blue-2);
  animation: scrollDown2 1.5s ease infinite;
}

.scroll-down2:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 5px;
  width: 6px;
  height: 15px;
  border-radius: 3px;
  transform: translateX(-50%);
  background: var(--blue-2);
}

@keyframes scrollDown2 {
  0% {
    transform: translate(-50%, 0px);
    opacity: 0;
  }

  50% {
    transform: translate(-50%, 8px);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, 16px);
    opacity: 0;
  }
}

.single-scroll-down-animation {
  width: calc(25% - 20px);
  top: 60%;
  left: 44%;
  position: absolute;
}

.link-box {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:root {
  --text: #4e536d;
  --line: #BBC1E1;
  --line-active: #f9df00;
}

.view {
  margin-left: 4rem;

}

.view a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #000 !important;
  font-size: 1.3rem;
  margin: 0 var(--spacing, 0px);
  transition: margin 0.5s;
}

.view a svg {
  width: 136px;
  height: 60px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 7px) translateZ(0);
  fill: none;
  stroke: var(--stroke, var(--line));
  stroke-linecap: round;
  stroke-width: 3px;
  stroke-dasharray: var(--offset, 69px) 278px;
  stroke-dashoffset: 361px;
  transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
}

.view a:hover {
  --spacing: 4px;
  --stroke: var(--line-active);
  --stroke-delay: .1s;
  --offset: 180px;
}

.box-img .title-box {
  position: absolute;
  transition: all 400ms ease-in-out;
  bottom: 20px;
  left: 20px;
  z-index: 9;
  text-align: start;
  padding: 0 1rem;
  color: white !important;
}

.box-img .title-box span {
  font-size: 17px;
  margin-bottom: .5rem;
}

.box-img .title-box h3 {
  font-size: 22px !important;
  text-shadow: 2px 2px rgba(68, 67, 67, 0.74);
}

.box-img {
  position: relative;
  transform: scale(1);
  will-change: transform;
  overflow: hidden !important;
  transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.adres-mail {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.adres-mail li {
  font-size: 20px;
}

.contact-info p {
  font-size: 20px;
  padding-bottom: 1rem;
  border-bottom: 1px solid #a8adc6;
}

.contact-area h3 {
  font-size: 45px !important;
}

.contact-btn {
  margin-left: auto !important;
}

.contact {
  display: flex !important;
  justify-content: space-between;
}

.map {
  width: 50%;
}
.forest-box{
  width: 82%;
}
.map iframe {
  width: 100%;
  height: 100%;
}

.contact-area {
  width: 45%;
  height: 100vh;
  padding: 3em 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 5rem;
  margin-top: 5rem;
}

.bg-forest {
  background: #d6ed53;
  color: #000;
}

.wrapper .search_box {
  background: #fff;
  border-radius: 5px;
  height: 65px;
  padding: 10px;
  text-align: start !important;
}

.search_field {
  position: relative;

}

.input {
  position: relative;
  width: 100% !important;
  padding: 1rem 5rem;
  border-radius: 99px;
  border: none;
  background: #f1f1f1;
}

.search-btn {
  position: absolute;
  right: 5px;
  top: 6px;
  background: #d6ed53;
  border: none;
  border-radius: 25px;
  padding: 10px 25px;
  font-weight: bold;
}

.nav-pills {
  z-index: 99;
  right: 0;
  top: 0;
  display: flex;
  width: 100% !important;
  justify-content: flex-end;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background: transparent !important;
}

.nav {
  width: 100% !important;
  --bs-nav-link-padding-x: 0rem !important;
  --bs-nav-link-padding-y: 0rem !important;
}

.nav-pills button:hover .title-box {
  transform: translateY(80px);
  opacity: 0;
  transition: all 400ms ease-in-out;
}

.nav-pills button:hover .box-img{
transform: scale(1.2);
transition: all 400ms ease-in-out;
}
.nav-link {
  overflow: hidden !important;
}
.nav-pills .nav-link{
  border-radius: 0 !important;
}
.design-items{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: center;
}
.design-items h4{
color: white;
margin-top: 2rem;
}
.design-items h4 span{
  background:#ea82fa;
  color: #000;
}
.persons-area{
  width: 100%;
  height: 100vh;
  background-image: url(../images/person-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.persons-area .card-info{
  width: 27rem;
  height: 35rem;
  padding: 2rem 2rem;
  background: rgba(255, 255, 255, 0.945);
}
.card-info .layer-title{
  color: #bdbdbd;
}
.persons-area .card-info .meet-btn{
  text-decoration: none;
  background: transparent;
  border-radius: 2rem;
  border: 2px solid #4e536d;
  padding: 1rem;
color: #4e536d;
position: relative;
top: 2rem;
}
.cards{
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
  align-items: flex-end;
}
.cards .card{
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: transparent;
  border: 3px solid white;
}
del{
  font-size: 30px;
  color: #404a4e;
}
.skils{
  gap: 0.6rem !important;
}
.skils li{
 margin-top: 0.7rem;

}
.category{
  color: #f7de01;
}
.small{
  height:30rem !important;
}
.medium{
  height:35rem !important;
}
.large{
  height:40rem !important;
}
.price{
  font-size: 65px;
  color: #fff;
  font-weight: bold;
}
.perspective{
  width: 100%;
  height: 100%;
}
.columns{
  margin-top: 8%;
  margin-bottom: 5%;
}
.design{
  height: 100%;
  background-image: url("../images/design-bg.png");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
.design img{
  width: 100%;
}
.team-info{
  position: relative;
  background: #ececec;
}
.team-box{
  position: absolute;
  width:40%;
  background: #ffffff;
  top: 20%;
  left: 45%;
  z-index: 99;
  padding: 4rem 9rem;
  text-align: start;
  height: 40rem;
}
.team-box h1, .team-box h1 span{
  font-size: 3rem;
}
.team-box p{
  line-height: 2.3rem;
}
.link{
  background: #ececec;
}
.wolf-control{
  background-image: url("../images/wolf-bg.png");
  background-size: cover;
  background-position: top;
  height: 100vh;
}
.wolf-control div img{
  margin-top: 3%;
}
.dark-bg, .info-wolf{
  background: #2b2929 !important;
  width: 100%;
  height: 100%;
}
.design-pai{
  height: 100vh;
  background-image: url("../images/pai-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.text-med-title{
  font-size: 3.5rem;
}
.team-teras{
  left: 5%;
}
.title-bottom{
  font-size: 20px;
}
